* {
  margin: auto;
  padding: auto;
}

body {
  background-image: url(./images/background2.png);
  background-attachment: fixed;
  background-size: 100%;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #926A42;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #123060a7;
  border-radius: 50px;
}

header {
  font-size: 40px;
  padding: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2 {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  font-size: 40px;
  padding: 20px 25px;
  margin: 50px auto;
  width: 50%;
}

.solar ul {
  display: flex;
  justify-content: space-around;
}

.solar p {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 3px;
  width: 90px;
}

.solar img:hover {
  transform: rotate(20deg);
}


