* {
  margin: auto;
  padding: auto;
}

body {
  background-image: url(./images/background2.png);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: monospace;
}

header {
  font-size: 40px;
  padding: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2 {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  font-size: 40px;
  padding: 20px 25px;
  margin-bottom: 50px;
  width: 50%;
}
