.Mercúrio {
    width: 58px;
}

.Vênus {
    width: 131px;
}

.Terra {
  width: 137px;
}

.Marte {
  width: 77px;
}

.Júpiter {
    width: 282px;
}

.Saturno {
    width: 292px;
}

.Urano {
    width: 154px;
}

.Netuno {
    width: 154px;
}